.contacts__title {
    margin: 0;

    font-size: 1.2em;
    text-transform: capitalize;
}

.contacts__content {
    display: flex;
    flex-flow: row wrap;

    margin-top: 1em;
}

.contacts__field {
    margin-right: 1em;

    color: inherit;

    line-height: 1.7;
    font-size: 1em;
    white-space: nowrap;
}
