.tech_support {
    display: flex;
    justify-content: space-between;
}

.tech_support .supporter {
    display: flex;
    justify-content: space-between;
}

.tech_support .supporter p{
    margin-right: 20px;
}

.login_supporters > p {
    justify-content: space-between;
    display: flex;
}

.login_supporters {
    margin-top: 30px;
}

.login_supporters a {
    text-decoration: none;
    color: white;
}
