.tech-support {
    width: 770px;
    height: 160px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.tech-support__title {
    color: var(--dark-blue);
}

.tech-support__title::first-letter {
    text-transform: uppercase;
}

.tech-support__supporters {
    width: 100%;

    display: flex;
    justify-content: space-around;
}

.tech-support__support {
    line-height: 1.6;
    color: var(--dark-blue)
}


.tech-support__item a {
    text-decoration: none;
    color: var(--dark-blue);
}