.tech-support__supporters {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.tech-support__title {
    margin: 0 2em 1em;
    padding: 0;
    text-align: center;
}

.tech-support__support {
    margin: 1em 2em 0;
    display: flex;
    flex-direction: column;
}

.tech-support__title {
    font-weight: bold;
    text-transform: uppercase;
}

.tech-support__field {
    text-decoration: none;
    color: inherit;
}

.field-name {
    font-weight: bold;
}
