.conference_item {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

.conference_user_description{
    font-size: calc(var(--default-font-size) * 1.2);
}

.conference_item_speaker{
    font-size: calc(var(--font-size-big) * 1.2);
}

.conference_item .time {
    padding: 5px 15px;
    color: var(--blue);
    border-radius: 30px;
    width: 200px;
    border: 2px solid var(--yellow);
    text-align: center;
}

.description_container {
    display: flex;
}

.conf_item_image{
    filter: grayscale(100%);
    width: 150px;
}

.rectangle_image{
    width: 150px;
    margin-right: 50px;
    height: 150px;
    border-radius: 30px;
    overflow: hidden;
}
