@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap&subset=cyrillic-ext');

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    --green-blue: #24767c;
    --green-blue-dark: #16464c;
    --blue: #1c58a5;
    --white-blue: rgb(161, 232, 255);
    --violet: #430d7f;
    --dark-violet: #230668;
    --light-blue: #d7e5f7;
    --pink: rgb(194, 17, 161);
    --yellow: #ffcb00;
    --red: #E60029;
    --default-font-size: 15px;
    --font-size-less: calc(0.7 * var(--default-font-size));
    --font-size-big: calc(1.5 * var(--default-font-size));
    --font-size-very-big: calc(1.9 * var(--default-font-size));
    --input-width: 200px;
    --light-green: #dae9eb;
    --theme-color: #334B92;
    --advanced-theme-color: #12296D;
    --link-color: #658BFC;
    font-size: var(--default-font-size);
}

p {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.nowrap {
    white-space: nowrap;
}

.color_violet {
    color: var(--violet);
}

.color_pink {
    color: var(--pink);
}

.color_white_blue {
    color: var(--white-blue);
}

.color_green_blue {
    color: var(--green-blue);
}

.color_white {
    color: white;
}

.color_red{
    color: var(--red);
}

.color_blue {
    color: var(--blue);
}

.bg_white{
    background-color: white;
}

.bg_blue {
    background-color: var(--blue);
}

.bg_yellow {
    background-color: var(--yellow);
}

.font_size_default {
    font-size: var(--default-font-size);
}

.font_size_less {
    font-size: var(--font-size-less);
}

.font_size_big {
    font-size: var(--font-size-big);
}

.font_size_very_big {
    font-size: var(--font-size-very-big);
}

.white_link {
    color: white;
    text-decoration: none;
}

.text_right {
    text-align: right;
}

.text_center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.only_mobile {
    display: none !important;
}