@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap&subset=cyrillic-ext');

html {
    font-size: 15px;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    --primary-color: #e60029;
    --tertiary-color: #fff;
    --secondary-color: #212353;
    --green-blue: #24767c;
    --green-blue-dark: #16464c;
    --blue: #1c58a5;
    --white-blue: rgb(161, 232, 255);
    --violet: #430d7f;
    --dark-violet: #230668;
    --light-blue: #d7e5f7;
    --pink: rgb(194, 17, 161);
    --yellow: #ffcb00;
    --font-size-less: 0.7rem;
    --font-size-big: 1.5rem;
    --font-size-very-big: 1.9rem;
    --input-width: 200px;
    --light-green: #dae9eb;
    --content-width: 1730px;
}

p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.uppercase {
    text-transform: uppercase;
}

.nowrap {
    white-space: nowrap;
}

.color_violet {
    color: var(--violet);
}

.color_pink {
    color: var(--pink);
}

.color_white_blue {
    color: var(--white-blue);
}

.color_green_blue {
    color: var(--green-blue);
}

.color_white {
    color: white;
}

.color_red {
    color: var(--primary-color);
}

.color_blue {
    color: var(--blue);
}

.bg_white {
    background-color: white;
}

.bg_blue {
    background-color: var(--blue);
}

.bg_yellow {
    background-color: var(--yellow);
}

.font_size_default {
    font-size: 1rem;
}

.font_size_less {
    font-size: var(--font-size-less);
}

.font_size_big {
    font-size: var(--font-size-big);
}

.font_size_very_big {
    font-size: var(--font-size-very-big);
}

.white_link {
    color: white;
    text-decoration: none;
}

.text_right {
    text-align: right;
}

.text_center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.only_mobile {
    display: none !important;
}

.triangle {
    border: 60px solid transparent;
    border-left: 60px solid var(--tertiary-color);
    border-top: 60px solid var(--tertiary-color);
}

.small-triangle {
    border: 40px solid transparent;
    border-left: 40px solid var(--tertiary-color);
    border-top: 40px solid var(--tertiary-color);
}
