@media (max-width: 800px) {
    body {
        --default-font-size: 14px;
    }

    .auth_page .font_size_very_big {
        font-size: calc(2 * var(--default-font-size));
    }

    .auth_page {
        padding: 10%;
    }

    .bank_container {
        display: none;
    }

    .left_container {
        max-width: none;
        text-align: center;
    }

    .left_container .font_size_very_big{
        font-size: var(--font-size-big);
    }

    .left_container .uppercase {
        white-space: initial;
        text-align: left;
    }

    .left_container .nowrap {
        white-space: normal;
    }

    .auth_form .input, .auth_form .button {
        --input-width: 200px;
    }

    .auth_form {
        padding: 50px 0;
    }

    .tech_support .nowrap {
        white-space: initial;
    }

    .tech_support .font_size_big {
        font-size: var(--default-font-size);
    }

    .logo_right {
        text-align: center;
        padding: 10px 0;
    }

    .padding_side {
        padding-left: 30px;
        padding-right: 30px;
    }

    .conference_title {
        display: block;
        text-align: right;
        padding-bottom: 30px;
        /*display: flex;*/
        /*flex-direction: column-reverse;*/
    }

    .conference_title .text_right.flex_right {

    }

    div.padding_side.flex_right.font_size_very_big.color_blue.bold.conference_theme {
        font-size: calc(1.6 * var(--default-font-size));
        align-items: initial;
        text-align: left;
    }

    .materials_and_time {
        font-size: var(--default-font-size);
        flex-direction: column-reverse;
        padding: 30px 0;
    }

    .materials_and_time > div {
        margin-bottom: 20px;
    }

    .conference_item {
        display: block;
    }

    .conference_item .description_container {
        display: block;
        text-align: center;
    }

    .conference .flex_right {
        text-align: center;
    }

    .rectangle_image {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .rectangle_image .conf_item_image {
        width: 250px;
        height: 250px;
        border-radius: 30px;
    }

    .conference_item .time {
        padding: unset;
        margin-top: 10px;
        width: 100%;
    }

    .conference_program_title {
        flex-wrap: wrap;
        padding-bottom: 30px;
    }

    .conference_program_title > div:nth-child(2) {
        margin-top: 20px;
        margin-left: 0;
    }


    .footer {
        display: block;
    }

    .footer > div {
        width: auto;
        display: block;
    }

    .footer > div > div {
        /*display: flex;*/
        /*justify-content: space-between;*/
        padding-bottom: 20px;
    }

    .cancel_reply {
        margin-left: 10px;
        display: block;
    }

    .form_container {
        display: block;
    }

    .user_info .form_container {
        display: flex;
    }

    .footer .tech_support .login_supporters {
        flex-direction: column;
        margin-top: 0;
    }

    .footer .tech_support .login_supporters .supporter {
        margin-bottom: 20px;
        flex-direction: row;
    }
}

@media (max-width: 1200px) {
    .broadcast_chat_container {
        display: block;
    }

    .broadcast_chat_container.padding_side {
        padding-left: 0;
        padding-right: 0;
        padding-top: 10px;
    }

    .broadcast > p {
        padding-bottom: 10px;
        text-align: center;
    }

    .broadcast > div {
        display: flex;
    }

    .broadcast_chat_container .iframe {
        flex: 1;
        height: 500px;
    }

    .chat {
        padding-left: 5%;
        padding-right: 5%;
    }

    .chat > p {
        padding-bottom: 10px;
    }

    .send_message_container .textarea {
        width: 250px;
    }

    .send_message_container > div {
        display: flex;
    }

    .send_message_container {
        text-align: center;
    }

    .message {
        width: auto;
    }
}


