.conference {
    background-color: var(--green-blue);
    padding-top: 50px;
    background-image: url(/assets/sphere.png);
    background-position: left -150px top 400px;
    background-repeat: no-repeat;
    background-size: 500px;
}

.logout {
    color: white;
}

.logout:hover {
    cursor: pointer;
    color: var(--pink)
}

.conference_title {

    display: flex;
    justify-content: space-between;
}

.broadcast_chat_container {
    padding-top: 50px;
    padding-bottom: 50px;
    background: white url("./../../assets/airport_background.jpeg") no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
}

.padding_side {
    padding-left: 100px;
    padding-right: 100px;
}

.conference .flex_right {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.materials_and_time {
    padding: 150px 0;
    display: flex;
}

.materials_and_time > div:nth-child(1) {
    background-color: #fe9a00;
    color: white;
    padding: 15px 30px;
    border-radius: 50px;
    margin-right: 30px;
    height: 100%;
}

.materials_and_time > div:nth-child(1):hover {
    cursor: pointer;
}

.materials_and_time > div:nth-child(2) {
    text-align: left;
}

.conference .large_title {
    font-size: calc(4 * var(--default-font-size));
}