.conference {
    background-image: linear-gradient(0deg, #15054f 0%, #430d7f 100%);
    /*background-color: var(--violet);*/
    padding-top: 50px;
}

.logout {
    color: white;
}

.logout:hover {
    cursor: pointer;
    color: var(--pink)
}

.conference_title {

    display: flex;
    justify-content: space-between;
}

.broadcast_chat_container {
    padding-top: 50px;
    padding-bottom: 50px;
    background: white url("./../../assets/graphics_bg.png") no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
}

.padding_side {
    padding-left: 100px;
    padding-right: 100px;
}

