.conference {
    display: flex;
    flex-direction: column;

    font-size: 1rem;
}

.conference__top-section {
    min-height: calc(100vh - 107px);
    background-image: url('../../assets/fin_images/gaz_bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
    font-size: 1rem;

    display: flex;
    justify-content: center;
}

.conference__general {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    color: var(--tertiary-color);
    max-width: 1100px;
    padding-bottom: 2em;
}

.conference__title {
    margin: 4rem 0 1rem;
    font-size: 2em;
}

.conference__conf-theme {
    margin: 0;
    text-transform: uppercase;
    font-size: 3.3em;
}

.conference__time {
    margin: 2rem 0 0;
    padding: 0;
    font-weight: bold;
    font-size: 1.6em;
}

.conference__bottom-section {
    display: flex;
    flex-direction: column;

    background-color: var(--tertiary-color);
    background-image: url('../../assets/fin_images/bgc_icons.png');
    background-repeat: repeat-x;
    background-position: bottom center;
    background-attachment: local;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: 1100px;
}

.conference__broadcast-block {
    flex: 1;
    display: flex;
    justify-content: space-evenly;

    padding: 3em 0 5em;
}
