.conference {
    background-color: var(--green-blue);
    padding-top: 50px;
    background-image: url(/assets/sphere.png);
    background-position: left -150px top 400px;
    background-repeat: no-repeat;
    background-size: 500px;
}

.logout {
    color: white;
}

.logout:hover {
    cursor: pointer;
    color: var(--pink)
}

.conference_title {

    display: flex;
    justify-content: space-between;
}

.broadcast_chat_container {
    padding-top: 50px;
    padding-bottom: 50px;
    background: white url("./../../assets/graphics_bg.png") no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
}

.padding_side {
    padding-left: 100px;
    padding-right: 100px;
}

.conference .flex_right {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.materials_and_time {
    padding: 150px 0;
    display: flex;
}

.materials_and_time > div:nth-child(1) {
    background-color: var(--blue);
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-right: 30px;
    border: 3px solid var(--blue);
}

.materials_and_time > div:nth-child(1):hover{
    cursor: pointer;
    background-color: var(--yellow);
    color: var(--blue);
}

.materials_and_time > div:nth-child(2) {
    background-color: var(--yellow);
    color: var(--blue);
    padding: 10px;
    border-radius: 10px;
}
