.logout_button {
    border: 1px solid var(--advanced-theme-color);
    background-color: var(--advanced-theme-color);
    color: white;
    font-weight: bold;
    padding: 0 30px;
    height: 30px;
    text-transform: uppercase;
}

.logout_button:hover{
    opacity: 0.8;
    color: white;
    cursor: pointer;
}
