.logout_button {
    border-radius: 30px;
    border: 1px solid var(--blue);
    background-color: transparent;
    color: var(--blue);
    font-weight: bold;
    padding: 0 30px;
    height: 30px;
}

.logout_button:hover{
    background-color: var(--blue);
    color: white;
    cursor: pointer;
}
