@media all and (max-width: 1800px) {
    .auth-page__bottom-triangles {
        right: 0;
    }
}

@media all and (max-width: 1276px) {
    .auth-page__main-img {
        top: 8rem;
        max-width: 600px;
    }

    .auth-page__title, .auth-page__conf-theme {
        font-size: 2.5rem;
    }
}

@media all and (max-width: 980px) {
    .auth-page__image-side {
        flex: 0.2 1 auto;
    }

    .auth-page__main-img {
        display: none;
    }

    .auth-page__conf-theme,
    .auth-page__title,
    .auth-form__error {
        text-align: center;
    }

    .auth-page__info-side {
        align-items: center;
    }

    .auth-page__bottom-triangles {
        display: none;
    }

    .auth-page__footer {
        padding: 0;
        margin: 0;
    }
}

@media all and (max-width: 660px) {
    .auth-page__image-side {
        flex: 0;
    }

    .auth-page__left-triangles {
        display: none;
    } 

    .auth-page__conf-theme,
    .auth-page__title {
        font-size: 2rem;
    }
}

@media all and (max-width: 440px) {
    .auth-page__conf-theme,
    .auth-page__title {
        font-size: 1.5rem;
    }

    .auth-page__time {
        margin-top: 1rem;
        font-size: 1rem;
    }

    .auth-form__form input {
        margin: 0 0 0.5rem;
    }

    .auth-form__form {
        display: flex;
        flex-flow: column wrap;
        font-display: column;
        justify-content: center;
        align-items: center;
    }
} 