@media all and (max-width: 1300px) {
    .auth-page__content {
        background-size: 45vmax;
    }
}

@media all and (max-width: 992px) {
    .auth-page .title {
        font-size: 30px;
    }

    .auth-page__content {
        background-image: none;
    }
}

@media all and (max-width: 768px) {
    .auth-page__general,
    .auth-form__error {
        text-align: left;
    }

    .auth-form__error {
        margin-left: 0;
    }

    .auth-page__content::before {
        display: none;
    }
}

@media all and (max-width: 576px) {
    .auth-page .title {
        font-size: 22px;
    }

    .auth-page .subtitle {
        font-size: 18px;
    }

    .auth-page .text {
        font-size: 14px;
    }

    .auth-page__main-block,
    .auth-page__tech-block {
        padding: 0 3em;
    }
}
