@media all and (max-height: 620px) {
    .conference__bottom-logo {
        display: none;
    }
}

@media all and (max-height: 510px) {
    .conference__main-img {
        display: none;
    }
}

@media all and (max-height: 440px) {
    .conference__left-triangles,
    .conference__bottom-triangles {
        display: none;
    }
}

@media all and (max-width: 1410px), (max-height: 800px) {
    .conference {
        font-size: 0.9rem;
    }
}

@media all and (max-width: 1251px) {
    .conference .tech-support__support {
        margin-right: 0;
    }
}

@media all and (max-width: 1164px) {
    .conference__broadcast-block {
        display: block;
    }

    .conference__broadcast-block .broadcast__window {
        width: 100%;
        margin-bottom: 2em;
    }

    .conference__broadcast-block .chat {
        width: 80%;
        margin: 0 auto;
    }

    .conference .footer__content {
        flex-direction: column-reverse;
    }

    .conference .footer__privacy {
        margin-top: 2em;
        align-items: center;
        width: 100%;
    }

    .conference__main-img {
        display: none;
    }

    .conference__content {
        justify-content: flex-end;
    }

    .conference .header__logo {
        margin-left: 0;
    }
}

@media all and (max-width: 896px) {
    .conference .footer__tech-support .tech-support__supporters {
        flex-direction: column;
        align-items: flex-start;
    }

    .conference .footer__privacy {
        align-items: flex-start;
    }

    .conference .tech-support__support {
        margin-left: 0;
    }

    .conference .tech-support__title {
        text-align: left;
        margin-left: 0;
    }

    .conference__broadcast-block .chat {
        width: 100%;
    }

    .conference__broadcast-block .broadcast__title,
    .conference__broadcast-block .chat__title {
        font-size: 2em;
        text-align: left;
    }
}

@media all and (max-width: 700px) {
    .conference__left-triangles {
        display: none;
    }
}

@media all and (max-width: 573px) {
    .conference__content {
        justify-content: flex-start;
    }

    .conference__info-block {
        margin-top: 5em;
        width: 100%;
        align-items: flex-start;
    }

    .conference__title {
        font-size: 2em;
        text-align: left;
    }
}

@media all and (max-width: 495px) {
    .conference__title {
        font-size: 1.6em;
        text-align: left;
    }

    .conference__time {
        font-size: 1.2em;
        margin-top: 1.5em;
    }

    .conference__btn {
        margin-top: 1.5em;
        font-size: 1em;
    }
}
