@media all and (max-height: 840px) {
    .plane-transport {
        display: none;
    }
}

@media all and (max-height: 550px) {
    .bottom-triangles,
    .left-triangles {
        display: none;
    }

    .conference__info-side {
        padding-bottom: 1rem;
    }

    .conference__time {
        margin: 0;
    }
}

@media all and (max-width: 1820px) {
    .bottom-triangles {
        right: 0;
    }
}

@media all and (max-width: 1532px) {
    .plane-transport {
        max-width: 600px;
        bottom: 2rem;
        left: 5rem;
    }

    .conference__title {
        font-size: 3rem;
    }

    .conference__broadcast-block {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .broadcast__window {
        width: 80vw;
        height: 500px;
        margin-bottom: 1rem;
    }
}

@media all and (max-width: 1000px) {
    .plane-transport {
        display: none;
    }

    .broadcast__window {
        width: 95vw;
        height: 370px;
    }

    .broadcast__title,
    .chat__title {
        font-size: 1.5rem;
    }

    .conference__image-side {
        display: none;
    }
}

@media all and (max-width: 720px) {
    .conference__content,
    .conference__bottom-logo {
        padding: 0 1rem;
    }
}

@media all and (max-width: 767px) {
    .bottom-triangles {
        display: none;
    }

    .conference__info-side {
        align-items: center;
    }

    .conference__title {
        text-align: center;
        font-size: 2.5rem;
    }
}

@media all and (max-width: 540px) {
    .conference__title {
        font-size: 2rem;
    }

    .broadcast__window {
        height: 270px;
    }

    .chat {
        width: 95%;
    }
}
