@media all and (max-width: 1240px) {
    .footer__content {
        justify-content: center;
    }

    .footer__tech-support {
        justify-content: center;
    }

    .privacy__contacts,
    .privacy__title,
    .privacy__policy-row {
        text-align: center;
    }
}
