#video-container{
    display: flex;
    height: 150px;
    margin: 20px;
    justify-content: space-around;
}
#session-header{
    text-align: center;
}

#session{
    display: flex;
    flex-direction: column;
}

#main-video{
    margin: auto;
}