.auth_page {
    background: linear-gradient( 90deg, #005387 60%, white 40%);
    /*background-image: url(./../../assets/cordiant/car.png),linear-gradient( 90deg, #005285 60%, white 40%);*/
    background-size: cover;
    padding-top: 50px;
    padding-left: 100px;
    min-height: 100vh;
    overflow: hidden;
}

.auth_page .font_size_very_big {
    font-size: calc(2 * var(--default-font-size));
}

.auth_page_container {
    flex-wrap: wrap-reverse;
    display: flex;
    justify-content: space-between;
}

.auth_page_container > div:nth-child(2) {
    margin-right: 30px;
}

.auth_page_container img {
    margin-top: 100px;
    height: 100vh;
}

.bank_container {
    text-align: right;
}

.left_container {
}

.logo_right {
    text-align: right;
    padding-top: 10px;
    padding-right: 100px;
    padding-bottom: 20px;
}

.conference_time {
    background-color: var(--yellow);
    color: var(--blue);
    padding: 15px 30px;
    border-radius: 15px;
    width: fit-content;
}
#car_image{
    position:fixed;
    right: 0;
    top:15vh;
    width: 59vw;
    height: auto;
}
img{
    width: inherit;
    height: auto;
}
