.auth-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url('../../assets/fin_images/gaz_bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
    font-size: 1rem;
}

.auth-page__content {
    flex: 1;
    color: var(--tertiary-color);
    display: flex;
    flex-direction: column;
}

/* auth page top block */
.auth-page__main-block {
    margin: 0;
    padding: 0 6em;
    flex: 1;
    display: flex;
    align-items: flex-end;
}

.auth-page__general {
    max-width: 56em;
    text-align: center;
    box-sizing: border-box;
}

.auth-page__title {
    margin: 2em 0 0;
    font-size: 1.8em;
    text-transform: capitalize;
}

.auth-page__conf-theme {
    margin: 1em 0;
    font-size: 2.7em;
    text-transform: uppercase;
}

.auth-page__time {
    margin: 0 0 2.8rem;
    font-weight: bold;
    font-size: 1.2em;
}

.auth-page__form {
    margin-bottom: 4em;
}

.auth-page__form .auth-form input {
    margin-bottom: 0.3em;
}

/* auth page bottom block */
.auth-page__tech-block {
    flex: 1;

    display: flex;
    align-items: center;
    padding: 0 6em;
}

.auth-page__contacts {
    margin-bottom: 2.5em;
}
