.auth_page {
    background-color: var(--red);
    padding-top: 50px;
    padding-left: 100px;
    min-height: 100vh;
    overflow: hidden;
}

.auth_page .header {
    display: flex;
    justify-content: space-between;
}

.auth_page .font_size_very_big {
    font-size: calc(2 * var(--default-font-size));
}

.auth_page_container {
    display: flex;
    justify-content: space-around;
}

.auth_page_container > div {
    width: 50%;
}

.auth_page_container > div:nth-child(1) {
    background-size: 15%;
}

.auth_page_container > div:nth-child(2) {
    margin-right: 30px;
}

.auth_page .tech_support {
    background-image: url("/assets/triangle-x.jpg");
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: right;
    background-size: 20%;
    margin-right: 30px;
    margin-bottom: 100px;
}

.auth_page .tech_support > div {
    margin: auto;
}

.auth_page .tech_support > div > p {
    text-align: center;
}

.auth_page .tech_support .login_supporters {
    display: flex;
}

.auth_page .tech_support .login_supporters .supporter {
    flex-direction: column;
}

.left_container img {
    width: 100%;
    background-image: url(/assets/triangle-y.jpg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: 15%;
}

.bank_container {
    text-align: right;
}

.left_container {
    width: 50%;
}

.logo_right {
    text-align: right;
    padding-top: 10px;
    padding-right: 100px;
    padding-bottom: 20px;
}

.conference_time {
    background-color: var(--yellow);
    color: var(--blue);
    padding: 15px 30px;
    border-radius: 15px;
    width: fit-content;
}

.upper{
    text-transform: uppercase
}