.auth_page {
    background-color: var(--light-blue);
    background-size: 500px, auto;
    padding-top: 50px;
    padding-left: 100px;
    min-height: 100vh;
    overflow: hidden;
}

.auth_page .font_size_very_big {
    font-size: calc(2 * var(--default-font-size));
}

.auth_page_container {
    display: flex;
    justify-content: space-between;
}

.auth_page_container img {
    margin-top: 100px;
    height: 100vh;
}

.bank_container {
    text-align: right;
}

.left_container {
    max-width: 40%;
}

.logo_right {
    text-align: right;
    padding-top: 10px;
    padding-right: 100px;
    padding-bottom: 20px;
}

.conference_time{
    background-color: var(--yellow);
    color: var(--blue);
    padding: 15px 30px;
    border-radius: 15px;
    width: fit-content;
}
