.chat {
    width: 450px;
}

.chat__title {
    margin: 0;
    color: var(--secondary-color);
    text-align: center;
    font-size: 2rem;
}

.chat__messages {
    overflow-y: scroll;
    height: 511px;
}

.chat__body {
    margin-top: 1rem;
    border: 1px solid lightgrey;
    padding: 0.2rem;
}
