.chat {
    padding-left: 10px;
    background-color: transparent;
}

.chat > p {
    padding-bottom: 30px;
}

.messages {
    overflow-y: scroll;
    height: 500px;
}

.chat_body {
    padding: 15px;
    background-color: white;
}