.change_poll {
    padding-top: 50px;
    padding-bottom: 50px;
}


.close_poll_button {
    padding-left: 10px;
    color: var(--pink);
    cursor: pointer;
}


.close_poll_button:hover {
    color: white;
}

.actual_poll {
    display: flex;
}

.question_answers_container {
    display: flex;
    justify-items: right;
    flex-direction: column;
}

.question_answers_container > * {
    margin-top: 10px;
}

.remove_answer_button {
    color: var(--pink);
    margin-left: 10px;
}

.remove_answer_button:hover {
    cursor: pointer;
    color: white;
}
