.password-input {
    text-align: center;
    width: calc(var(--input-width) - 54px);
    -moz-appearance: textfield;
}

.password-input::-webkit-outer-spin-button,
.password-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.password-input::placeholder {
    color: var(--tertiary-color);
}

.password-input:focus::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.input[type='checkbox'] {
    height: 30px;
    width: 30px;
}
