.password-input {
    box-sizing: border-box;

    width: var(--input-width);

    text-align: center;
    -moz-appearance: textfield;
}

.password-input::-webkit-outer-spin-button,
.password-input::-webkit-inner-spin-button {
    margin: 0;

    -webkit-appearance: none;
}

.password-input::placeholder {
    color: var(--tertiary-color);
}

.password-input:focus::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.input[type='checkbox'] {
    width: 30px;
    height: 30px;
}
