.input {
    text-align: center;
    border-radius: 30px;
    border: 1px solid white;
    padding: 10px 30px;
    width: calc(var(--input-width) - 62px);
    background-color: transparent;
    color: white;
    font-size: var(--default-font-size);
    text-transform: uppercase;
}

.input::placeholder {
    background-color: transparent;
    color: white;
}

.input:placeholder-shown {
    background-color: transparent;
    color: white;
}


