.footer .footer_logo {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100%;
}

.footer .footer_logo div p {
    margin: 50px auto;
}

.footer_logo .logos {
    display: flex;
    flex-wrap: wrap;
}

.logos .partner_logo {
    width: 14%;
    margin: 3%;
}