.footer .partners {
    background-color: white;
    color: gray;
}

.footer .partners > div {
    display: flex;
}

.footer .partners > div > div {
    display: flex;
}

.footer .partners > div > div > div {
    text-align: center;
}

.footer .partners .information_partners {
    flex-direction: column;
}

.footer .partners .information_partners > div {
    justify-content: center;
    flex-wrap: wrap;
}

.footer .partners .information_partners > div > div {
    flex-basis: 25%;
}

.footer .partners img {
    width: 20vw;
}

.footer .partners .general_info_partner > div {
    display: flex;
}

.footer .partners .general_info_partner img {
    width: 50%;
}