.admin_page {
    background-color: var(--light-blue);
    /*background-color: var(--violet);*/
}

.pb_20 {
    padding-bottom: 20px;
}

.form_container {
    padding-top: 20px;
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.user_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.csv_buttons{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.csv_buttons > .button{
    margin-bottom: 20px;
}
