.admin_page {
    background-color: var(--primary-color);
}

#root > .admin_page > div:nth-child(2) > input {
    width: 100%;
}

#root > .admin_page > div:nth-child(3) {
    margin-top: 50px;
}

#root > .admin_page > div:nth-child(3) > div:nth-child(2) {
    display: flex;
    justify-content: space-between;
}

.pb_20 {
    padding-bottom: 20px;
}

.form_container {
    padding-top: 20px;
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.user_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.csv_buttons {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.csv_buttons > .button {
    margin-bottom: 20px;
}
