.footer {
    background-color: var(--tertiary-color);
}
.footer__content {
    display: flex;
    justify-content: space-between;
    padding: 3em 0 4em;
}
.privacy {
    margin: 0;
    padding: 0;
    width: 38em;
    display: flex;
    flex-direction: column;
}

.privacy__contacts,
.privacy__title,
.privacy__link {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--secondary-color);
    font-weight: bold;
}

.privacy__title,
.privacy__data,
.privacy__contacts,
.privacy__media {
    margin-bottom: 1em;
}

.privacy__link {
    color: var(--primary-color);
}

.footer__tech-support {
    width: 100%;
    color: var(--secondary-color);
}

.footer__tech-support .tech-support__title {
    font-size: 2em;
}

.privacy__media .privacy__link:first-child {
    margin-right: 1em;
}
