.footer {
    background-color: #fff;
    height: 200px;
}

.footer__content {
    max-width: var(--content-width);
    margin: 0 auto;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.footer__tech-support .tech-support__mail {
    text-decoration: underline !important;
    color: var(--red);
}

.privacy {
    display: flex;
    flex-direction: column;
}

.privacy a {
    text-decoration: none;
    color: var(--dark-blue);
}

.privacy__title {
    color: var(--dark-blue);
}

.privacy__contacts a {
    margin-right: 20px;
}

.privacy__policy-row a:first-child::after {
    content: '|'
}
