.footer {
    margin: 0;
    padding-bottom: 1.3rem;
    box-sizing: border-box;

    background-color: #fff;
}

.footer__content {
    max-width: var(--content-width);
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__tech-support {
    flex: auto;

    display: flex;
    justify-content: flex-end;
}

.footer__tech-support .tech-support__mail {
    text-decoration: underline !important;
    color: var(--red);
}

/* privacy block */
.privacy {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
}

.privacy a {
    text-decoration: none;
    color: var(--dark-blue);
}

.privacy__title {
    color: var(--dark-blue);
}

.privacy__contacts a {
    margin-right: 20px;
}

.privacy__contacts a:first-child {
    white-space: nowrap;
}

.privacy__policy-row a:first-child::after {
    content: '|';
}
