.lang-switcher {
    display: flex;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
}

.lang-switcher__item {
    padding: 3px 5px;

    cursor: pointer;
}

.lang-switcher__item--active {
    color: var(--red);
    background-color: #fff;
}