.button {
    border-radius: 30px;
    border: 2px solid var(--blue);
    padding: 10px 30px;
    width: var(--input-width);
    background-color: transparent;
    color: var(--blue);
    font-size: var(--default-font-size);
    text-transform: uppercase;
}

.button:hover {
    cursor: pointer;
    background-color: white;
}
