.common-networking {
    padding: 70px 0 115px 0;
    background: var(--theme-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.common-networking .log-in {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}

.common-networking .log-in .header {
    font-size: 36px;
    margin-bottom: 100px;
}

.common-networking .log-in .button {
    text-decoration: none;
    width: 50px;
    text-align: center;
    margin-top: 100px;
}

.common-networking .sponsor-banner {
    text-align: center;
}

.common-networking .sponsor-banner img {
    width: 1150px;
}

@media all and (max-width: 1300px) {
    .common-networking .sponsor-banner img {
        width: 80%;
    }

    .common-networking .log-in {
        margin-top: 100px;
    }
}

@media all and (max-width: 768px) {
    .common-networking .sponsor-banner img {

    }
}