.header {
    background-color: var(--tertiary-color);
    padding: 2rem 4rem;
}

.header__content {
    display: flex;
    align-items: center;
}

.header__logo {
    max-width: 250px;
    margin-right: 4rem;
}
