.header {
    padding-top: 50px;
}

.header__lang-switcher {
    display: flex;
    margin-top: 20px;
    margin-bottom: auto;
}

.header__content {
    height: 100%;

    display: flex;
    justify-content: space-between;
}

.header__logo {
    margin-left: 0.5em;
}
