.header {
    padding-top: 70px;
}

.header__lang-switcher {
    display: flex;
    margin-top: 20px;
    margin-bottom: auto;
}

.header__content {
    height: 100%;

    display: flex;
    justify-content: space-between;
}
