.send_message_container .textarea {
    width: 350px;
    resize: none;
    border: 1px solid var(--blue);
    padding: 10px;
}

.send_message_container {
    /*display: flex;*/
}

.send_message_container .send_button {
    color: var(--blue);
    height: 30px;
    width: 30px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.send_message_container .send_button:hover {
    color: var(--dark-violet);
}


.send_message_container .cancel_reply:hover {
    cursor: pointer;
    color: var(--blue);
}

.cancel_reply{
    display: none;
}

.send_message_container:hover .cancel_reply{
    display: initial;
}
