.message {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /*border-left: 1px solid var(--green-blue);*/
    /*padding-top: 5px;*/
}

.message .name {
    padding-left: 10px;
}

.message .text {
    word-break: break-word;
    padding-left: 20px;
}
.like_button{
    margin-left: 5px;
}

.like_button:hover {
    color: var(--theme-color);
    cursor: pointer;
    opacity: 0.8;
}

.padding_right {
    padding-right: 10px;
}

.reply_and_time {
    display: flex;
    justify-content: flex-end;
}

.message_container {
    /*background: linear-gradient(to left,transparent 50%, var(--green-blue) 200%);*/
    /*border-left: 1px solid var(--green-blue);*/
    background: radial-gradient(farthest-side at -25% 50%, rgb(255, 207, 207), transparent);
    background: var(--light-theme-color);
    padding: 10px 20px;
    margin-top: 15px;
}

.message_container .reply_button {
    display: none;
}

.message_container:hover .reply_button {
    display: block;
}

.message_container:hover .reply_and_time {
    justify-content: space-between;
}

.reply_button {
    /*color: var(--blue);*/
    cursor: pointer;
}

.reply_button:hover{
    color: var(--theme-color);
    opacity: 0.8;
}

.reply_to:hover{
    cursor: pointer;
    color: var(--theme-color);
    opacity: 0.8;
}
