.message {
    width: 400px;
    display: flex;
    justify-content: space-between;
    border-left: 1px solid var(--violet);
    border-bottom: 1px solid var(--violet);
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

