.message {
    width: 400px;
    display: flex;
    justify-content: space-between;
    border-left: 1px solid var(--violet);
    /*padding-top: 5px;*/
    padding-right: 10px;
    margin-top: 20px;
}

.message .name{
    padding-left: 10px;
}

.message .text{
    word-break: break-word;
    padding-left: 20px;
}

.like_button:hover{
    color: var(--pink);
    cursor: pointer;
}

.padding_right{
    padding-right: 10px;
}
